.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.top-container-buffer {
    margin-top: 30px;
}

.top-div-buffer{
    margin-top: 12px;
}

.top-button-buffer {
    margin-top: 15px;
}

.top-text-buffer {
    margin-top: 10px;
}

.bot-text-buffer {
    margin-bottom: 10px;
}

/*Border between columns*/
.border-between > [class*='col-']:before {
    background: #000000;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
}

.border-between > [class*='col-']:first-child:before {
    display: none;
}

label {
    margin-right: 10px;
    padding: 2px;
}

ol {
    list-style-type: decimal-leading-zero;
}

.guideContainer{
  margin-left: 20px;
  margin-top: 15px;
  float: left;
}

.customUlFont{
  font-size: : 30px;
}
