<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <!--Add Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!--Add Bootstrap and custom CSS-->

    {% if title %}
    <title>The CASPER - {{ title }}</title>
    {% else %}
    <title>The CASPER</title>
    {% endif %}
  </head>

  <body>
    <header class="site-header"> <!-- Later customize this-->
      <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('about') }}">The CASPER</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarsExample02">
          <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item {{ 'active' if active_page == 'home' else '' }}">
              <a class="nav item nav-link" href="{{ url_for('home') }}">Home</a>
            </li>-->
            <li class="nav-item {{ 'active' if active_page == 'about' else '' }}">
              <a class="nav item nav-link" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item {{ 'active' if active_page == 'the_eccg' else '' }}">
              <a class="nav item nav-link" href="{{ url_for('the_eccg') }}">The ECCG</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!--Displaying Content-->
    {% block body_content %}


    {% endblock body_content %}
    <div class="d-flex flex-column min-vh-100">
      <nav>
      </nav>
      <main class="flex-fill">
      </main>
      <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
      </footer>
    </div>
  </body>
</html>
