{% extends "layout.html" %}
{% set active_page = "the_eccg" %} <!-- shows that this page is activated-->
{% block body_content %}

<div class="container-fluid top-container-buffer">
    <h2>The Edge to Cloud Code Generator</h2>
    <h3>Main Inputs</h3>
    <div class="row border-between">
        <div class="col-md-auto">
            <h6>Select Sensor Types</h6>
            <div class="form-check-inline">
                <input type="checkbox" class="form-check-input" id="temperature" value="temp">
                <label class="form-check-label" for="temperature">Temperature</label>
                <input type="checkbox" class="form-check-input" id="humidity" value="hum">
                <label class="form-check-label" for="humidity">Humidity</label>
                <input type="checkbox" class="form-check-input" id="air_quality" value="air">
                <label class="form-check-label" for="air_quality">Air Quality</label>
                <input type="checkbox" class="form-check-input" id="light" value="light">
                <label class="form-check-label" for="light">Light</label>
                <input type="checkbox" class="form-check-input" id="loudness" value="loudness">
                <label class="form-check-label" for="loudness">Loudness</label>
            </div>
        </div>
        <div class="col-md-auto">
            <h6> Select Communication Protocol</h6>
            <div class="radio-inline">
                <input class="radio-inline" type="radio" name="comm_protocol" id="wifi" value="wifi_value" checked onclick="showExtraSettings()">
                <label class="radio-inline" for="wifi">WiFi</label>
                <input class="radio-inline" type="radio" name="comm_protocol" id="bluetooth" value="bluetooth_value" onclick="showExtraSettings()">
                <label class="radio-inline" for="bluetooth">Classic Bluetooth</label>
                <input class="radio-inline" type="radio" name="comm_protocol" id="ble" value="ble_value" onclick="showExtraSettings()">
                <label class="radio-inline" for="ble">BLE</label>
                <input class="radio-inline" type="radio" name="comm_protocol" id="zigbee" value="zigbee_value" onclick="showExtraSettings()">
                <label class="radio-inline" for="zigbee">Zigbee</label>
            </div>
        </div>
        <div class="col-md-auto">
          <h6>Time Interval</h6>
          <div class="input-group input-group-sm mb-3">
            <select class="form-control" id="timeInterval">
              <option>30000</option>
              <option>60000</option>
              <option>90000</option>
              <option>120000</option>
              <option>150000</option>
              <option>180000</option>
              <option>210000</option>
              <option>240000</option>
              <option>270000</option>
              <option>300000</option>
            </select>
            <div class="input-group-append">
                <span class="input-group-text" id="delay_append">
                    <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top"
                       title="One data per given sensor type will be sent according to selected value"></i>
                </span>
            </div>
          </div>
        </div>
        <div class="col-md-auto">
            <h6>MAC Address</h6>
            <div class="input-group input-group-sm mb-3">
                <input type="text" oninput="this.value = this.value.replace(/[^0-9a-zA-z:]/g, '').replace(/(\..*?)\..*/g, '$1');" maxlength="17" class="form-control" id="MAC" placeholder="Ex. 00:0E:EA:CF:4A:23" aria-describedby="MAC_append" disabled="disabled">
                <div class="input-group-append">
                    <span class="input-group-text" id="MAC_append">
                        <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top"
                           title="The MAC address of the bluetooth module."></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-between top-div-buffer">
        <!-- <div class="col-md-auto">
            <input type="submit" onclick="showSettings()" class="btn btn-secondary btn-sm" data-toggle="button" aria-pressed="false" autocomplete="off" value="Show Advanced Settings">
        </div> -->
      <div class="col-md-auto">
        <h4>Protocol Settings</h4>  
      </div>
    </div>
    <!--ADDITIONAL WI-FI SETTINGS-->
    <div id="ex_settings" style="display:block">
        <div class="row top-div-buffer">
            <div class="col-md-auto">
                <h6>SSID</h6>
                <div class="input-group input-group-sm mb-3">
                    <input type="text" oninput="this.value = this.value.replace(/[^0-9a-zA-Z\\.]/g, '');" maxlength="20" class="form-control" id="SSID" placeholder="WiFi Network Name" aria-describedby="ssid_append">
                    <div class="input-group-append">
                        <span class="input-group-text" id="ssid_append">
                            <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top"
                               title="The name of the Wi-Fi network that contains both edge and fog nodes."></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-auto">
                <h6>Password</h6>
                <div class="input-group input-group-sm mb-3">
                    <input type="text" oninput="this.value = this.value.replace(/[^0-9\\.\\a-zA-Z]/g, '');" maxlength="20" class="form-control" id="PASSWD" placeholder="WiFi Security Key" aria-describedby="pass_append">
                    <div class="input-group-append">
                        <span class="input-group-text" id="pass_append">
                            <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top"
                               title="The password of the WiFi network."></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-auto">
                <h6>Host IP Address</h6>
                <div class="input-group input-group-sm mb-3">
                    <input type="text" oninput="this.value = this.value.replace(/[^\\0-9\\.]/g, '');" maxlength="17" class="form-control" id="HOSTIP" placeholder="Ex. 192.124.68.68" aria-describedby="ip_append">
                    <div class="input-group-append">
                        <span class="input-group-text" id="ip_append">
                            <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top"
                               title="The Server IP address of the Fog/Host Node."></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-auto">
                <h6>Host Port</h6>
                <div class="input-group input-group-sm mb-3">
                    <input type="text" oninput="this.value = this.value.replace(/[^\\0-9\\]/g, '');" maxlength="5" class="form-control" id="PORT" placeholder="Ex. 65432" aria-describedby="port_append">
                    <div class="input-group-append">
                        <span class="input-group-text" id="port_append">
                            <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top"
                               title="The Open Port of the Fog/Host Node Server."></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--ADDITIONAL WIFI SETTINGS END-->
    <!--ADDITIONAL BLUETOOTH SETTINGS-->
    <div id="ex_bluetooth_settings" style="display:none">
        <div class="row top-div-buffer">
            <div class="col-md-auto">
                <h6>The Bluetooth Module Name</h6>
                <div class="input-group input-group-sm mb-3">
                    <input type="text" oninput="this.value = this.value.replace(/[^0-9a-zA-Z\\.]/g, '');" maxlength="10" class="form-control" id="bluetooth_name" placeholder="Ex. Slave." aria-describedby="blue_name_append">
                    <div class="input-group-append">
                        <span class="input-group-text" id="blue_name_append">
                            <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top"
                               title="The name of the Bluetooth module that will connect to fog node."></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-auto">
                <h6>PIN</h6>
                <div class="input-group input-group-sm mb-3">
                    <input type="text" oninput="this.value = this.value.replace(/[^0-9\\.\\a-zA-Z]/g, '');" maxlength="5" class="form-control" id="PIN" placeholder="Ex. 0000." aria-describedby="pin_append">
                    <div class="input-group-append">
                        <span class="input-group-text" id="pin_append">
                            <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top"
                               title="The PIN that is required for pairing."></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--ADDITIONAL BLUETOOTH SETTINGS END-->
    <!--ADDITIONAL ZIGBEE SETTINGS-->
    <div id="ex_zigbee_settings" style="display:none">
        <div class="row top-div-buffer">
            <div class="col-md-auto">
                <h6>PAN ID</h6>
                <div class="input-group input-group-sm mb-3">
                    <input type="text" oninput="this.value = this.value.replace(/[^0-9a-zA-Z\\.]/g, '');" maxlength="18" class="form-control" id="pan_id" placeholder="Ex. 0xABCD." aria-describedby="pan_id_append">
                    <div class="input-group-append">
                        <span class="input-group-text" id="pan_id_append">
                            <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top"
                               title="Each network is defined with a unique PAN identifier common among all devices of the same network."></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-auto">
                <h6>Destination Address High</h6>
                <div class="input-group input-group-sm mb-3">
                    <input type="text" oninput="this.value = this.value.replace(/[^0-9\\.\\a-zA-Z]/g, '');" maxlength="9" class="form-control" id="DH" placeholder="Ex. 0013A200." aria-describedby="DH_append">
                    <div class="input-group-append">
                        <span class="input-group-text" id="DH_append">
                            <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top"
                               title="Upper 32 bits of the 64-bit destination address."></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-auto">
                <h6>Destination Address Low</h6>
                <div class="input-group input-group-sm mb-3">
                    <input type="text" oninput="this.value = this.value.replace(/[^0-9\\.\\a-zA-Z]/g, '');" maxlength="9" class="form-control" id="DL" placeholder="Ex. 4615A321." aria-describedby="DL_append">
                    <div class="input-group-append">
                        <span class="input-group-text" id="DL_append">
                            <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top"
                               title="Lower 32 bits of the 64-bit destination address."></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--ADDITIONAL ZIGBEE SETTINGS END-->
    <!--3nd ROW-->
    <div class="row top-div-buffer">
        <div class="col-md-auto">
            <h6>Edge Node Location</h6>
            <div class="input-group input-group-sm mb-3">
                <input type="text" oninput="this.value = this.value.replace(/[^0-9.a-zA-z]/g, '').replace(/(\..*?)\..*/g, '$1');" class="form-control" id="location" placeholder="Ex. Garden." aria-describedby="location_append">
                <div class="input-group-append">
                    <span class="input-group-text" id="location_append">
                        <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top"
                           title="The location of the deployed edge node sensor. No spaces allowed, use underscore instead."></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-auto" style="margin-top:27px;">
            <button type="button" class="btn btn-success btn-sm" onclick="addToLocation()" id="addButton">Add</button>
        </div>
        <div class="col-md-auto" style="margin-top:27px; margin-left:-16px;">
            <button type="button" class="btn btn-danger btn-sm" onclick="removeLocation()" id="removeButton">Remove</button>
        </div>
        <div class="col-md-auto">
            <h6>Location ID</h6>
            <ol start="00" id="locationlist"></ol>
        </div>
        <div id="locationbar" class="col-md-auto">
            <h6>Select Location</h6>
            <select class="locs" onchange="getLocationID();" onfocus="this.selectedIndex = -1;" style="width: 150px; height:30px;" id="myLocation" name="locations"></select>
        </div>
    </div>
    <!--3nd ROW END-->
    <!--4th ROW START-->
    <div class="row">
        <div class="col-md-auto">
            <h6> Select Edge Node Type</h6>
            <div class="radio-inline">
                <input class="radio-inline" type="radio" name="edge_node_types" id="arduinoBLE" value="arduino_value">
                <label class="radio-inline" for="arduinoBLE">Arduino Nano 33 BLE Sense</label>
                <input class="radio-inline" type="radio" name="edge_node_types" id="arduinoNano" value="esp32_value">
                <label class="radio-inline" for="arduinoNano">Arduino Nano RP2040 Connect</label>
                <input class="radio-inline" type="radio" name="edge_node_types" id="pico" value="pico_value">
                <label class="radio-inline" for="pico">Raspberry Pi Pico</label>
            </div>
        </div>
        <div class="col-md-auto">
            <h6>Edge Node ID</h6>
            <div class="input-group input-group-sm mb-3">
                <input type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '');" maxlength="3" class="form-control" id="nodeID" placeholder="Ex. 001." aria-describedby="nodeID_append">
                <div class="input-group-append">
                    <span class="input-group-text" id="nodeID_append">
                        <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top"
                           title="Use different IDs to identify your edge nodes."></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-auto">
          <h6>Select Data Type</h6>
            <div class="radio-inline">
              <input class="radio-inline" type="radio" name="radioData" id="average" checked value="averageValue">
              <label class="radio-inline" for="average">Mean</label>
              <input class="radio-inline" type="radio" name="radioData" id="highest" value="highestValue">
              <label class="radio-inline" for="highest">Highest</label>
              <input class="radio-inline" type="radio" name="radioData" id="lowest" value="lowestValue">
              <label class="radio-inline" for="lowest">Lowest</label>
            </div>
        </div>
    </div>
    <!--4th ROW END-->
    <div class="row top-div-buffer">
        <div class="col">
            <input type="submit" onclick="showMessage()" class="btn btn-dark btn-sm" data-toggle="button" aria-pressed="false" autocomplete="off" value="Generate Code">
        </div>
    </div>
    <div class="row top-text-buffer" style="margin-left:auto">
        <h6>Transmitter Code</h6>
        <pre class="pre-scrollable">
        <code>
        <span id="display_code"></span>
                </code>
            </pre>
    </div>
    <div class="row top-div-buffer" style="margin-left:auto; margin-bottom:10px">
        <!--COPY BUTTON-->
        <button class="btn btn-dark btn-sm" id="cp_btn" onclick="copy('display_code')">Copy Transmitter Code</button>
    </div>
    <!--HERE STARTS BLUETOOTH-->
    <div id="bluetooth_all" style="display:none" ;>
        <h3>Receiver Code</h3>
        <div class="row">
            <div class="col-md-auto">
                <h5>Bluetooth Auto Pairing Script:</h5>
                <pre class="pre-scrollable">
                <code>
                <span id="display_pairing_code"></span>
                    </code>
                </pre>
                <button class="btn btn-dark btn-sm" id="cp_btn2" onclick="copy('display_pairing_code')" style="margin-bottom:20px;">Copy Receiver Code</button>
            </div>
            <div class="col-md-auto">
                <h5>On Raspberry Pi Terminal</h5>
                <h6>To Establish RFCOMM Communication</h6>
                <code style="margin-bottom:-10px;">
                    <span id="display_terminal_code"></span>
                </code>
                <h6 style="margin-top:20px;">To Release the Connection</h6>
                <code style="margin-bottom:-10px;">
                    sudo rfcomm release 0
                </code>
            </div>
            <div class="col-md-auto">
                <h5 style="padding-left:15px;">Node-RED Example Setup</h5>
                <div class="col-md-auto">
                    <h6>Example Design</h6>
                    <img src="{{url_for('static', filename='images/ss_example_nodered_bluetooth_edited.png')}}" class="img" style="margin-bottom:15px;" />
                </div>
                <div class="col-md-auto">
                    <h6>Serial Input Node Settings</h6>
                    <img src="{{url_for('static', filename='images/ss_dev_rfcomm_edited.png')}}" class="img" style="margin-bottom:15px;" />
                </div>
                <div class="col-md-auto">
                    <h6>Function Node Settings</h6>
                    <img src="{{url_for('static', filename='images/ss_function_nodered_edited.png')}}" class="img" style="margin-bottom:15px;" />
                </div>
            </div>
        </div>
    </div>
    <!--HERE ENDS BLUETOOTH-->
    <!--Here Starts WiFi-->
    <div id="wifi_all" style="display:none" ;>
        <h3>Receiver Code</h3>
        <div class="row">
            <div class="col-md-auto">
                <h5 style="padding-left:15px;">Node-RED Example Setup</h5>
                <div class="col-md-auto">
                    <h6>Example Design</h6>
                    <img src="{{url_for('static', filename='images/wifi_workspace.png')}}" class="img" style="margin-bottom:15px;" />
                </div>
                <div class="col-md-auto">
                    <h6>TCP Input Node Settings</h6>
                    <img src="{{url_for('static', filename='images/wifi_tcp_node_settings.png')}}" class="img" style="margin-bottom:15px;" />
                </div>
            </div>
        </div>
    </div>
    <!--Here Ends WiFi-->
    <!--Here Starts BLE-->
    <div id="ble_all" style="display:none" ;>
      <h3>Receiver Code</h3>
      <div class="row">
          <div class="col-md-auto">
              <h5 style="padding-left:15px;">Node-RED Example Setup</h5>
              <div class="col-md-auto">
                  <h6>Example Workspace Design</h6>
                  <img src="{{url_for('static', filename='images/ble_workspace.png')}}" class="img" style="margin-bottom:15px;" />
              </div>
          </div>
      </div>
  </div>
  <!--Here Ends BLE-->
    <!--Here Starts Zigbee-->
    <div id="zigbee_all" style="display:none" ;>
        <h3>Raspberry Pi Part(Receiver)</h3>
        <div class="row top-buffer">
            <div class="col-md-auto">
                <h5>Zigbee Python Script:</h5>
                <pre class="pre-scrollable">
                <code>
                <span id="display_zigbee_code"></span>
                    </code>
                </pre>
                <button class="btn btn-dark btn-sm" id="cp_btn3" onclick="copy('display_zigbee_code')" style="margin-bottom:20px;">Copy Receiver Code</button>
            </div>
            <div class="col-md-auto">
                <h5>On Raspberry Pi</h5>
                <h6>To Establish Zigbee Communication</h6>
                <ol>
                    <li>Create a python3 script named <b>Zigbee_v1.py</b>.</li>
                    <li>In this example, the script path is <b>/home/pi/Zigbee_v1.py</b>.</li>
                    <li>The example output assumes temp., hum., and air sensors are enabled. </li>
                    <li>Zigbee Node 1 is the <b>coordinator</b>. Use function nodes to separate multiple Zigbee inputs.</li>

                </ol>
            </div>
            <div class="col-md-auto">
                <h5 style="padding-left:15px;">Node-RED Example Setup</h5>
                <div class="col-md-auto">
                    <h6>Example Design</h6>
                    <img src="{{url_for('static', filename='images/zigbee_workspace.png')}}" class="img" style="margin-bottom:15px;" />
                </div>
                <div class="col-md-auto">
                    <h6>Daemon Node Settings</h6>
                    <img src="{{url_for('static', filename='images/zigbee_daemon_node_settings.png')}}" class="img" style="margin-bottom:15px;" />
                </div>
                <div class="col-md-auto">
                    <h6>Example Output</h6>
                    <img src="{{url_for('static', filename='images/zigbee_example_output.png')}}" class="img" style="margin-bottom:15px;" />
                </div>
            </div>
        </div>
    </div>
    <!--Here Ends Zigbee-->
</div>

<!--HERE ENDS HTML -->

<script type="text/javascript">
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  })
</script>
<!--Additional Settings-->
<script type="text/javascript">

var wifi_check, bluetooth_check, ble_check, zigbee_check;
var extra_wifi_settings, extra_bluetooth_settings, extra_zigbee_settings;

/***************Additional settings***********************/
  function showExtraSettings () {
    
    wifi_check = $("#wifi")[0].checked;
    bluetooth_check = $("#bluetooth")[0].checked;
    ble_check = $("#ble")[0].checked;
    zigbee_check = $("#zigbee")[0].checked;

    extra_wifi_settings = document.getElementById("ex_settings");
    extra_bluetooth_settings = document.getElementById("ex_bluetooth_settings");
    extra_zigbee_settings = document.getElementById("ex_zigbee_settings");
      
      if (wifi_check === true) {
        extra_wifi_settings.style.display = "block";
        extra_bluetooth_settings.style.display = "none";
        extra_zigbee_settings.style.display = "none";
      } else if (bluetooth_check === true) {
        extra_bluetooth_settings.style.display = "block";
        extra_wifi_settings.style.display = "none";
        extra_zigbee_settings.style.display = "none";
      } else if (zigbee_check === true) {
        extra_zigbee_settings.style.display = "block";
        extra_bluetooth_settings.style.display = "none";
        extra_wifi_settings.style.display = "none";
      } else {
        extra_zigbee_settings.style.display = "none";
        extra_bluetooth_settings.style.display = "none";
        extra_wifi_settings.style.display = "none";
      }
    }

    /***************Location list*****************************/
    var locationlist, li, select, listOption, listItems, last, loc;
    function addToLocation() {
      locationlist = document.getElementById("locationlist");
      loc = document.getElementById("location").value;
      li = document.createElement("li");
      li.textContent = loc;
      if (loc.length != 0) {
          locationlist.appendChild(li);
      }
      select = document.getElementById("myLocation");
      listOption = document.createElement("option");
      listOption.text = loc;
      select.add(listOption);
    }
    function removeLocation() {  
      listItems = locationlist.getElementsByTagName("li");
      last = listItems[listItems.length - 1];
      locationlist.removeChild(last); //remove from list
      $(".locs option:last").remove(); //remove from dropdown list
    }

    /***************Disabling Mac Address*****************************/
    $(".radio-inline").change(function () {
        $("#MAC").attr("disabled", true);
        if ($("input[name=comm_protocol]:checked").val() == "bluetooth_value") {
            $("#MAC").attr("disabled", false);
        }
    });

    /****************Code Copying Button Functions*****************************/
    /*Enable Button Functions*/
    document.getElementById("cp_btn").addEventListener("click", copy_main);
    document.getElementById("cp_btn2").addEventListener("click", copy_pairing);
    document.getElementById("cp_btn3").addEventListener("click", copy_zigbee_receiver);

    /*The Button Functions*/
    function copy_main() {
        var copyText = document.getElementById("display_code");
        var textArea = document.createElement("textarea");
        textArea.value = copyText.textContent;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("Copy");
        textArea.remove();
    }

    /*Copy Receiver Code*/
    function copy_pairing() {
        var copyText = document.getElementById("display_pairing_code");
        var textArea = document.createElement("textarea");
        textArea.value = copyText.textContent;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("Copy");
        textArea.remove();
    }
    /*Copy Transmitter Code*/
    function copy_zigbee_receiver() {
        var copyText = document.getElementById("display_zigbee_code");
        var textArea = document.createElement("textarea");
        textArea.value = copyText.textContent;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("Copy");
        textArea.remove();
    }

    /*Workaround to display 'at' char*/
    function hex_to_ascii(str1) {
        var hex = str1.toString();
        var str = '';
        for (var n = 0; n < hex.length; n += 2) {
            str += String.fromCharCode(parseInt(hex.substr(n, 2), 16));
        }
        return str;
    }

    /*Get Location ID*/
    var matchedIndex, selectedLocation, locationBar;
    function getLocationID() {
        selectedLocation = $('#myLocation').val();
        locationBar = document.getElementById("locationlist").querySelectorAll('li');
        locationBar.forEach((item, index) => {
            console.log({ index, item })
            if (item.innerText == selectedLocation) {
                matchedIndex = "0" + index;
            }
        });
        return matchedIndex;
    }

    /*Function that does the rest*/

    /*Generate Code Parameters Function*/
    var bleCheck, nanoCheck, picoCheck;
    var textbox_timeInterval, textbox_mac, textbox_ssid;
    var textbox_passwd, textbox_hostip, textbox_port;
    var textbox_bluetooth_name, textbox_bluetooth_pin, textbox_zigbee_pan, textbox_zigbee_DH, textbox_zigbee_DL;
    var id_temp, id_hum, id_air, id_wifi, id_blue, id_zigb, id_loud, id_light;
    var textbox_nodeID; 
    var temp_check, hum_check, air_check, lightCheck, loudnessCheck;
    var pseudoDisplayedCode, wifiRealCode, blueRealCode, bleRealCode, zigbeeRealCode;

    function showMessage() {

      //alert(wifi_check);
      /*Bluetooth Display*/
      var blu_all = document.getElementById("bluetooth_all");

      /*WiFi Display*/
      var wi_all = document.getElementById("wifi_all");


      /*Checkbox control*/
      temp_check = document.getElementById("temperature").checked;
      hum_check = document.getElementById("humidity").checked;
      air_check = document.getElementById("air_quality").checked;
      lightCheck = document.getElementById("light").checked;
      loudnessCheck = document.getElementById("loudness").checked;
      /*display_message.innerHTML = "Button is working" /*already get the value above so call as temp_check only*/

      /* radio control */
      bleCheck = document.getElementById("arduinoBLE").checked;
      nanoCheck = document.getElementById("arduinoNano").checked;
      picoCheck = document.getElementById("pico").checked;
      var average_check = document.getElementById("average").checked; //rest will be removed
      var highest_check = document.getElementById("highest").checked;
      var lowest_check = document.getElementById("lowest").checked;

      /*getting textbox values*/
      //var textbox = document.getElementById("delay").value;
      textbox_timeInterval = document.getElementById("timeInterval").value;
      textbox_mac = document.getElementById("MAC").value;
      textbox_ssid = document.getElementById("SSID").value;
      textbox_passwd = document.getElementById("PASSWD").value;
      textbox_hostip = document.getElementById("HOSTIP").value;
      textbox_port = document.getElementById("PORT").value;
      textbox_bluetooth_name = document.getElementById("bluetooth_name").value;
      textbox_bluetooth_pin = document.getElementById("PIN").value;
      textbox_zigbee_pan = document.getElementById("pan_id").value;
      textbox_zigbee_DH = document.getElementById("DH").value;
      textbox_zigbee_DL = document.getElementById("DL").value;

      /*edge node ID*/
      textbox_nodeID = document.getElementById("nodeID").value;
      alert(textbox_timeInterval);
      /*sensor type IDs + comm. type IDs*/
      id_temp = "TH";
      id_hum = "HU";
      id_air = "AQ";
      id_loud = "LO";
      id_light = "LI";
      id_wifi = "W";
      id_blue = "B";
      id_zigb = "Z";

      /*Update Edge Node ID*/
      if (textbox_nodeID != "" && bleCheck == true) {
          textbox_nodeID = "1" + textbox_nodeID;
      }
      if (textbox_nodeID != "" && nanoCheck == true) {
          textbox_nodeID = "2" + textbox_nodeID;
      }
      if (textbox_nodeID != "" && picoCheck == true) {
          textbox_nodeID = "3" + textbox_nodeID;
      }

      /*Get Location ID*/
      var id_loc = getLocationID();

      /*if no sensor is selected*/
      if (temp_check == false && hum_check == false && air_check == false) {
        alert("Please select at least one sensor type.")
        display_pairing_code.innerHTML = ""
        display_zigbee_code.innerHTML = ""
        display_code.innerHTML = ""
        display_terminal_code.innerHTML = ""
      }

      /*Raspberry Pi Terminal RFCOMM code*/
      var terminal_code = `sudo rfcomm connect hci0 ` + textbox_mac + ` 1`

      /*To add "at" character*/
      var at = hex_to_ascii(40);

      var debug_part =
        `
        /*DEBUG START*/
        while (Serial.available() > 0)
        {
          recvChar = Serial.read();
          Serial1.print(recvChar);
        }
        while (Serial1.available() > 0)
        {
          recvChar = Serial1.read();
          Serial.print(recvChar);
        }
        /*DEBUG END*/
        `

        /**************************************BLUETOOTH RASPBERRY PI START**********************************/

        var auto_bluetooth_pair =
            `
"""Not all libraries/class variables/methods are used.
However, if you encounter any problems or want to develop your code
further you might need those. Thus, they will be left as they are."""

import dbus
import dbus.service
import dbus.mainloop.glib
import sys
import time
import pexpect
import subprocess
import uuid
import socket

from datetime import datetime
from bluezutils import *
from pprint import *
from bluetooth import *
from gi.repository import GObject, GLib
from dbus.mainloop.glib import DBusGMainLoop

DBusGMainLoop(set_as_default=True)

path = "/test/agent"
AGENT_INTERFACE = "org.bluez.Agent1"
BUS_NAME = "org.bluez"
bus = dbus.SystemBus()

device_obj = None
dev_path = None

def set_trusted(path2):
    props = dbus.Interface(bus.get_object("org.bluez", path2), "org.freedesktop.DBus.Properties")
    props.Set("org.bluez.Device1", "Trusted", True)

class Rejected(dbus.DBusException):
    _dbus_error_name = "org.bluez.Error.Rejected"

class Agent(dbus.service.Object):
    exit_on_release = True

    def set_exit_on_release(self, exit_on_release):
        self.exit_on_release = exit_on_release

    `+ at + `dbus.service.method(AGENT_INTERFACE,
        in_signature="", out_signature="")
    def Release(self):
        print("Release")
        if self.exit_on_release:
            mainloop.quit()

    `+ at + `dbus.service.method(AGENT_INTERFACE,
        in_signature="os", out_signature="")
    def AuthorizeService(self, device, uuid):
        print("AuthorizeService (%s, %s)" % (device, uuid))
        return

    `+ at + `dbus.service.method(AGENT_INTERFACE,
        in_signature="o", out_signature="s")
    def RequestPinCode(self, device):
        set_trusted(device)
        return "0000"

    `+ at + `dbus.service.method(AGENT_INTERFACE,
        in_signature="o", out_signature="u")
    def RequestPasskey(self, device):
        set_trusted(device)
        return dbus.UInt32("0000")

    `+ at + `dbus.service.method(AGENT_INTERFACE,
        in_signature="ou", out_signature="")
    def RequestConfirmation(self, device, passkey):
        set_trusted(device)
        return

    `+ at + `dbus.service.method(AGENT_INTERFACE,
        in_signature="o", out_signature="")
    def RequestAuthorization(self, device):
        return

    `+ at + `dbus.service.method(AGENT_INTERFACE,
        in_signature="", out_signature="")
    def Cancel(self):
        print("Cancel")

def pair_reply():
    print("Device paired and trusted")
    set_trusted(dev_path)

def pair_error(error):
    err_name = error.get_dbus_name()
    if err_name == "org.freedesktop.DBus.Error.NoReply" and device_obj:
        print("Timed out. Cancelling pairing")
        device_obj.CancelPairing()
    else:
        print("Creating device failed: %s" % (error))
        mainloop.quit()

def register_agent():
    agent = Agent(bus, path)
    capability = "NoInputNoOutput"
    obj = bus.get_object(BUS_NAME, "/org/bluez");
    manager = dbus.Interface(obj, "org.bluez.AgentManager1")
    manager.RegisterAgent(path, capability)

def start_discovery():
    global pi_adapter
    pi_adapter = find_adapter()
    scan_filter = dict({"DuplicateData": False})
    pi_adapter.SetDiscoveryFilter(scan_filter)
    pi_adapter.StartDiscovery()

def stop_discovery():
    pi_adapter.StopDiscovery()

def get_device(dev_str):
    # use [Service] and [Object path]:
    device_proxy_object = bus.get_object("org.bluez","/org/bluez/hci0/dev_"+dev_str)
    # use [Interface]:
    device1 = dbus.Interface(device_proxy_object,"org.bluez.Device1")
    return device1

def char_changer(text):
    text = text.replace(':', r'_')
    return text

def slave_finder(device_name):

    global sublist_normal
    sublist_normal = []
    sublist= []
    address = []
    edited_address = None
    sub = subprocess.run(["hcitool scan"], text = True, shell = True, capture_output=True)
    print(sub.stdout) #string type
    sublist = sub.stdout.split()
    for i in range(len(sublist)):
        if sublist[i] == device_name:
            print(sublist[i-1])
            sublist_normal.append(sublist[i-1])
            edited_address = char_changer(sublist[i-1])
            address.append(edited_address)
    return address

def connect_paired(baddr):
    global s
    channel = 1
    s = socket.socket(socket.AF_BLUETOOTH, socket.SOCK_STREAM, socket.BTPROTO_RFCOMM)
    s.connect((baddr,channel))
    print ("Connected to: "+baddr)

def remove_all_paired():
    for i in range(len(sublist_normal)):
        sub = subprocess.run(["bluetoothctl remove " + sublist_normal[i]],
            text = True, shell = True, capture_output=True)
        time.sleep(1)

if __name__ == '__main__':

    pair_status = None
    address_list = slave_finder('Slave') #!R
    time.sleep(2)
    remove_all_paired()
    print(sublist_normal)
    if address_list:
        register_agent()
        start_discovery()
        time.sleep(10)
        for i in range(len(address_list)):
            new_dbus_device = get_device(address_list[i])
            dev_path = new_dbus_device.object_path
            device_properties = dbus.Interface(new_dbus_device, "org.freedesktop.DBus.Properties")
            pair_status = device_properties.Get("org.bluez.Device1", "Paired")
            if not pair_status:
                new_dbus_device.Pair(reply_handler=pair_reply, error_handler=pair_error, timeout=60000)

    mainloop = GLib.MainLoop()
    mainloop.run()
`
        /******************************BLUETOOTH RASPBERRY PI END*********************************/
        /******************************ZIGBEE RASPBERRY PI START**********************************/
        var zigbee_python_script =
            `
'''All informative readings/notifications are commented out. Uncomment when needed.'''
import logging
import time

from digi.xbee.devices import XBeeDevice
from digi.xbee.exception import OperationNotSupportedException, XBeeException, RecoveryException
from digi.xbee.util import utils
from digi.xbee.models.status import NetworkDiscoveryStatus

PORT = "/dev/serial0"
BAUD_RATE = 9600

def open_device():

    #print("Opening the XBee device by forcing its baudrate to %d" % BAUD_RATE)
    device = XBeeDevice(PORT, BAUD_RATE)

    try:
        device.open(force_settings=True)
        #print("Device opened and set to operate at %d bauds" % BAUD_RATE)
        return device
    except XBeeException as e:
        #print("ERROR: %s" % str(e))
        return

def set_parameters(xbee_device):

    PARAM_NODE_ID = "NI"
    PARAM_PAN_ID = "ID"
    PARAM_DEST_ADDRESS_H = "DH"
    PARAM_DEST_ADDRESS_L = "DL"
    MAKE_COORDINATOR = "CE"
    SECURITY = "EE"
    JOIN = "NJ"

    protocol = xbee_device.get_protocol()
    role = xbee_device.get_role()
    PARAM_VALUE_NODE_ID = "Jedi"
    PARAM_VALUE_PAN_ID = utils.hex_string_to_bytes("ABCD")
    PARAM_VALUE_DEST_ADDRESS_H = utils.hex_string_to_bytes("00")
    PARAM_VALUE_DEST_ADDRESS_L = utils.hex_string_to_bytes("FFFF")
    CO = utils.hex_string_to_bytes("1")
    SE = utils.hex_string_to_bytes("0")
    JO = utils.hex_string_to_bytes("FF")

    xbee_device.set_parameter(PARAM_NODE_ID, bytearray(PARAM_VALUE_NODE_ID, 'utf8'))
    xbee_device.set_parameter(PARAM_PAN_ID, PARAM_VALUE_PAN_ID)
    xbee_device.set_parameter(PARAM_DEST_ADDRESS_H, PARAM_VALUE_DEST_ADDRESS_H)
    xbee_device.set_parameter(PARAM_DEST_ADDRESS_L, PARAM_VALUE_DEST_ADDRESS_L)
    xbee_device.set_parameter(MAKE_COORDINATOR,CO)
    xbee_device.set_parameter(SECURITY,SE)
    xbee_device.set_parameter(JOIN,JO)

    apply_changes_enabled = xbee_device.is_apply_changes_enabled()
    xbee_device.write_changes()

    # Get parameters. Run this during setup if you want.
    #print("Node ID:                     %s" % xbee_device.get_parameter(PARAM_NODE_ID).decode())
    #print("PAN ID:                      %s" % utils.hex_to_string(xbee_device.get_parameter(PARAM_PAN_ID)))
    #print("Destination address high:    %s" % utils.hex_to_string(xbee_device.get_parameter(PARAM_DEST_ADDRESS_H)))
    #print("Destination address low:     %s" % utils.hex_to_string(xbee_device.get_parameter(PARAM_DEST_ADDRESS_L)))
    #print("Coordinator MAC Address      %s" % utils.hex_to_string(xbee_device.get_64bit_addr()))
    #print("16-bit network address:      %s" % xbee_device.get_16bit_addr()) #it is same?
    #print("Power level:                 %s" % xbee_device.get_power_level().description) #highest - +8db then.
    #print("Protocol:                    %s" % protocol)
    #print("Role:                        %s" % role)
    #print("Association Status:          %s" % utils.hex_to_string(xbee_device.get_parameter("AI"))) #if the network successfully formed
    #print("Zigbee Defined Address:      %s" % utils.hex_to_string(xbee_device.get_parameter("MY")))
    #print("Scanned Channels:            %s" % utils.hex_to_string(xbee_device.get_parameter("SC")))
    #print("Stack profile:               %s" % utils.hex_to_string(xbee_device.get_parameter("ZS")))
    #print("OP:                          %s" % utils.hex_to_string(xbee_device.get_parameter("OP")))
    #print("OI:                          %s" % utils.hex_to_string(xbee_device.get_parameter("OI")))
    #print("Operating Mode:              %s" % operating_mode)

    #print("")
    #print("All parameters were set correctly!")

def discover_network(device):

    xbee_network = device.get_network()
    xbee_network.set_discovery_timeout(15)  # 15 seconds.
    xbee_network.clear()
    # Callback for discovered devices.
    def callback_device_discovered(remote):
        print("Device discovered: %s" % remote)
    # Callback for discovery finished.
    def callback_discovery_finished(status):
        if status == NetworkDiscoveryStatus.SUCCESS:
            print("Discovery process finished successfully.")
        else:
            print("There was an error discovering devices: %s" % status.description)

        xbee_network.add_device_discovered_callback(callback_device_discovered)
        xbee_network.add_discovery_process_finished_callback(callback_discovery_finished)
        xbee_network.start_discovery_process()
        #print("Discovering remote XBee devices...")
        while xbee_network.is_discovery_running():
            time.sleep(0.1)

def read_data(xbee_device):

    xbee_device.flush_queues()
    #print("Waiting for data...\n")
    while True:
        xbee_message = xbee_device.read_data()
        if xbee_message is not None:
            print("From %s >> %s" % (xbee_message.remote_device.get_64bit_addr(),
                                     xbee_message.data.decode()))

if __name__ == '__main__':

    zigbee = open_device()
    set_parameters(zigbee)
    zigbee.execute_command("AC")
    time.sleep(1)
    zigbee.execute_command("WR")
    #print("Network Established")
    discover_network(zigbee)
    read_data(zigbee)
`
        /******************************ZIGBEE RASPBERRY PI END**********************************/
        /*==============================WI-FI ARDUINO START====================================*/
        
        var temp_hum_air_wifi_code_advanced =
        `
/*Please replace with your own correct variables if you see "!R" near the given variable.*/
#include "DHT.h"
#include "Air_Quality_Sensor.h"

#define DHTPIN 4 //!R
#define DHTTYPE DHT11 //!R
DHT dht(DHTPIN, DHTTYPE);
AirQualitySensor sensor(A2); //!R
//send data per interval seconds(end user decides)
unsigned long interval =`+textbox_timeInterval+`L;
unsigned long pass_time = millis();
int exit_while = 0;

void setup()
{
/*Initialize ports*/
Serial1.begin(115200);
Serial.begin(115200);
sensor.init();

/*Set-up Wi-Fi Module*/
delay(1000);
Serial1.print("AT\\r\\n");
delay(500);
Serial1.print("AT+CWMODE_DEF=3\\r\\n");
delay(500);
Serial1.print("AT+CWJAP=\"`+ textbox_ssid + `\",\"` + textbox_passwd +`\"\\r\\n");
delay(500);
}

void loop()
{
float tempData = 0.00, humData = 0.00, airData = 0.00;
float tempSum = 0.00, humSum = 0.00, airSum = 0.00;
float tempAverage = 0.00, humAverage = 0.00, airAverage = 0.00;
float temp_hum_val[2] = {0};
char recvChar;
byte i = 0;
`+ debug_part +`
/*Connect to Host*/
if(millis() - pass_time > 20000 && exit_while == 0){
Serial1.print("AT+CIPSTART=\"TCP\",\"`+ textbox_hostip + `\",` + textbox_port +`\\r\\n");
exit_while = 1;
}

startTime = millis();
endTime = startTime;
while((endTime-startTime) < interval)
{
if(!dht.readTempAndHumidity(temp_hum_val))
{
  tempData = temp_hum_val[1];
  humData = temp_hum_val[0];
  airData = sensor.getValue();
}
tempSum = tempData + tempSum;
humSum = humData + humSum;
airSum = airData + airSum;
endTime = millis();
i++;
}
tempAverage = tempSum / i;
humAverage = humSum / i;
airAverage = airSum / i;

String temp_data = String(tempAverage,2);
String hum_data = String(humAverage,2);
String air_data = String(airAverage);
byte total_bytes = temp_data.length()+hum_data.length()+air_data.length()+28;
String total_bytes_sent = String(total_bytes);
Serial1.print("AT+CIPSEND="+total_bytes_sent+"\\r\\n");
delay(1000);
Serial1.print("`+ id_loc + `"+";"+"` + textbox_nodeID + `"+";"+"` + id_temp + `"+":"+temp_data+":0;"+"` + id_hum + `"+":"+hum_data+":0;"+"` + id_air + `"+":"+air_data+":0;"+"` + id_wifi +`"+"\\n");
}
}
`
var temp_hum_air_wifi_code_advanced_highest =
`
/*Please replace with your own correct variables if you see "!R" near the given variable.*/
#include "DHT.h"
#include "Air_Quality_Sensor.h"

#define DHTPIN 4 //!R
#define DHTTYPE DHT11 //!R
DHT dht(DHTPIN, DHTTYPE);
AirQualitySensor sensor(A2); //!R
//send data per interval seconds(end user decides)
unsigned long interval =`+textbox_timeInterval+`L;
unsigned long pass_time = millis();
int exit_while = 0;

void setup()
{
  /*Initialize ports*/
  Serial1.begin(115200);
  Serial.begin(115200);
  sensor.init();

  /*Set-up Wi-Fi Module*/
  delay(1000);
  Serial1.print("AT\\r\\n");
  delay(500);
  Serial1.print("AT+CWMODE_DEF=3\\r\\n");
  delay(500);
  Serial1.print("AT+CWJAP=\"`+ textbox_ssid + `\",\"` + textbox_passwd +`\"\\r\\n");
  delay(500);
}

void loop()
{
  float tempData = 0.00, humData = 0.00, airData = 0.00;
  float tempHighest = 0.00, humHighest = 0.00, airHighest = 0.00;
  float temp_hum_val[2] = {0};
  char recvChar;
    `+ debug_part +`
  /*Connect to Host*/
  if(millis() - pass_time > 20000 && exit_while == 0){
    Serial1.print("AT+CIPSTART=\"TCP\",\"`+ textbox_hostip + `\",` + textbox_port +`\\r\\n");
    exit_while = 1;
  }

  startTime = millis();
  endTime = startTime;
  while((endTime-startTime) < interval)
  {
    if(!dht.readTempAndHumidity(temp_hum_val))
    {
      tempData = temp_hum_val[1];
      humData = temp_hum_val[0];
      airData = sensor.getValue();
      if(tempData > tempHighest)
      {
        tempHighest = tempData;
      }
      if(humData > humHighest)
      {
        humHighest = humData;
      }
      if(airData > airHighest)
      {
        airHighest = airData;
      }
    }
    endTime = millis();
  }

  String temp_data = String(tempHighest,2);
  String hum_data = String(humHighest,2);
  String air_data = String(airHighest);
  byte total_bytes = temp_data.length()+hum_data.length()+air_data.length()+28;
  String total_bytes_sent = String(total_bytes);
  Serial1.print("AT+CIPSEND="+total_bytes_sent+"\\r\\n");
  delay(1000);
  Serial1.print("`+ id_loc + `"+";"+"` + textbox_nodeID + `"+";"+"` + id_temp + `"+":"+temp_data+":0;"+"` + id_hum + `"+":"+hum_data+":0;"+"` + id_air + `"+":"+air_data+":0;"+"` + id_wifi +`"+"\\n");
  }
}
`

var temp_hum_air_wifi_code_advanced_lowest =
`
/*Please replace with your own correct variables if you see "!R" near the given variable.*/
#include "DHT.h"
#include "Air_Quality_Sensor.h"

#define DHTPIN 4 //!R
#define DHTTYPE DHT11 //!R
DHT dht(DHTPIN, DHTTYPE);
AirQualitySensor sensor(A2); //!R
//send data per interval seconds(end user decides)
unsigned long interval =`+textbox_timeInterval+`L;
unsigned long pass_time = millis();
int exit_while = 0;

void setup()
{
  /*Initialize ports*/
  Serial1.begin(115200);
  Serial.begin(115200);
  sensor.init();

  /*Set-up Wi-Fi Module*/
  delay(1000);
  Serial1.print("AT\\r\\n");
  delay(500);
  Serial1.print("AT+CWMODE_DEF=3\\r\\n");
  delay(500);
  Serial1.print("AT+CWJAP=\"`+ textbox_ssid + `\",\"` + textbox_passwd +`\"\\r\\n");
  delay(500);
}

void loop()
{
  float tempData = 0.00, humData = 0.00, airData = 0.00;
  float tempLowest = 500.00, humLowest = 500.00, airLowest = 500.00;
  float temp_hum_val[2] = {0};
  char recvChar;
    `+ debug_part +`
  /*Connect to Host*/
  if(millis() - pass_time > 20000 && exit_while == 0){
    Serial1.print("AT+CIPSTART=\"TCP\",\"`+ textbox_hostip + `\",` + textbox_port +`\\r\\n");
    exit_while = 1;
  }

  startTime = millis();
  endTime = startTime;
  while((endTime-startTime) < interval)
  {
    if(!dht.readTempAndHumidity(temp_hum_val))
    {
      tempData = temp_hum_val[1];
      humData = temp_hum_val[0];
      airData = sensor.getValue();
      if(tempData < tempLowest)
      {
        tempLowest = tempData;
      }
      if(humData < humLowest)
      {
        humLowest = humData;
      }
      if(airData < airLowest)
      {
        airLowest = airData;
      }
    }
    endTime = millis();
  }

  String temp_data = String(tempLowest,2);
  String hum_data = String(humLowest,2);
  String air_data = String(airLowest);
  byte total_bytes = temp_data.length()+hum_data.length()+air_data.length()+28;
  String total_bytes_sent = String(total_bytes);
  Serial1.print("AT+CIPSEND="+total_bytes_sent+"\\r\\n");
  delay(1000);
  Serial1.print("`+ id_loc + `"+";"+"` + textbox_nodeID + `"+";"+"` + id_temp + `"+":"+temp_data+":0;"+"` + id_hum + `"+":"+hum_data+":0;"+"` + id_air + `"+":"+air_data+":0;"+"` + id_wifi +`"+"\\n");
  }
}
`
/*===============================WI-FI ARDUINO END==========================================*/
/*===============================BLUETOOTH ARDUINO START====================================*/

  var temp_hum_air_bluetooth_code_advanced =
  `
/*Please replace with your own correct variables if you see "!R" near the given variable.*/
#include "DHT.h"
#include"Air_Quality_Sensor.h"

#define DHTTYPE DHT11 //!R
#define DHTPIN 4 //!R
DHT dht(DHTPIN, DHTTYPE);
AirQualitySensor sensor(A1); //!R

//send data per interval seconds(end user decides)
unsigned long interval =`+textbox_timeInterval+`L;

void setup()
{
Serial.begin(9600);
sensor.init();
setupBlueToothConnection();
}

void loop()
{
char recvChar;
//define time variables
unsigned long endTime =0L, startTime =0L;
String WholeCommand = "";
byte i = 0;
//define sensor variables
float tempData = 0.00, humData = 0.00, airData = 0.00;
float tempSum = 0.00, humSum = 0.00, airSum = 0.00;
float tempAverage = 0.00, humAverage = 0.00, airAverage = 0.00;
float temp_hum_val[2] = {0};

/*DEBUG START*/
while(Serial1.available()){
recvChar = Serial1.read();
Serial.print(recvChar);
}
while(Serial.available()){
WholeCommand = SerialString();
Serial1.print(WholeCommand);
delay(400);
}
/*DEBUG END*/

startTime = millis();
endTime = startTime;
while((endTime-startTime) < interval)
{
if(!dht.readTempAndHumidity(temp_hum_val))
{
  tempData = temp_hum_val[1];
  humData = temp_hum_val[0];
  airData = sensor.getValue();
}
tempSum = tempData + tempSum;
humSum = humData + humSum;
airSum = airData + airSum;
endTime = millis();
i++;
}
tempAverage = tempSum / i;
humAverage = humSum / i;
airAverage = airSum / i;

Serial1.print("`+ id_loc + `");
Serial1.print(";");
Serial1.print("`+ textbox_nodeID + `");
Serial1.print(";");
Serial1.print("`+ id_temp + `");
Serial1.print(":");
Serial1.print(tempAverage);
Serial1.print(":0;");
Serial1.print("`+ id_hum + `");
Serial1.print(":");
Serial1.print(humAverage);
Serial1.print(":0;");
Serial1.print("`+ id_air + `");
Serial1.print(":");
Serial1.print(airAverage);
Serial1.print(":0;");
Serial1.print("B\\n");
}

String SerialString()
{
String inputString = "";
while (Serial.available()){
char inputChar = (char)Serial.read();
inputString += inputChar;
}
return inputString;
}

void setupBlueToothConnection()
{
Serial1.begin(9600);
Serial1.print("AT");
delay(400);
Serial1.print("AT+ROLES"); // set the role as slave !R
delay(400);
Serial1.print("AT+NAME`+ textbox_bluetooth_name +`"); // set the bluetooth name as "Slave" !R
delay(400);
Serial1.print("AT+PIN`+ textbox_bluetooth_pin +`");
delay(400);
Serial1.print("AT+AUTH0");
delay(400);
Serial1.flush();
}
`
var temp_hum_air_bluetooth_code_advanced_highest =
`
/*Please replace with your own correct variables if you see "!R" near the given variable.*/
#include "DHT.h"
#include"Air_Quality_Sensor.h"

#define DHTTYPE DHT11 //!R
#define DHTPIN 4 //!R
DHT dht(DHTPIN, DHTTYPE);
AirQualitySensor sensor(A1); //!R

//send data per interval seconds(end user decides)
unsigned long interval =`+textbox_timeInterval+`L;

void setup()
{
  Serial.begin(9600);
  sensor.init();
  setupBlueToothConnection();
}

void loop()
{
  char recvChar;
  //define time variables
  unsigned long endTime =0L, startTime =0L;
  String WholeCommand = "";
  byte i = 0;
  //define sensor variables
  float tempData = 0.00, humData = 0.00, airData = 0.00;
  float tempHighest = 0.00, humHighest = 0.00, airHighest = 0.00;
  float temp_hum_val[2] = {0};

  /*DEBUG START*/
  while(Serial1.available()){
    recvChar = Serial1.read();
    Serial.print(recvChar);
  }
  while(Serial.available()){
    WholeCommand = SerialString();
    Serial1.print(WholeCommand);
    delay(400);
  }
  /*DEBUG END*/

  startTime = millis();
  endTime = startTime;
  while((endTime-startTime) < interval)
  {
    if(!dht.readTempAndHumidity(temp_hum_val))
    {
      tempData = temp_hum_val[1];
      humData = temp_hum_val[0];
      airData = sensor.getValue();
      if(tempData > tempHighest)
      {
        tempHighest = tempData;
      }
      if(humData > humHighest)
      {
        humHighest = humData;
      }
      if(airData > airHighest)
      {
        airHighest = airData;
      }
    }
    endTime = millis();
    i++;
  }

  Serial1.print("`+ id_loc + `");
  Serial1.print(";");
  Serial1.print("`+ textbox_nodeID + `");
  Serial1.print(";");
  Serial1.print("`+ id_temp + `");
  Serial1.print(":");
  Serial1.print(tempHighest);
  Serial1.print(":0;");
  Serial1.print("`+ id_hum + `");
  Serial1.print(":");
  Serial1.print(humHighest);
  Serial1.print(":0;");
  Serial1.print("`+ id_air + `");
  Serial1.print(":");
  Serial1.print(airHighest);
  Serial1.print(":0;");
  Serial1.print("B\\n");
}

String SerialString()
{
  String inputString = "";
  while (Serial.available()){
    char inputChar = (char)Serial.read();
    inputString += inputChar;
  }
  return inputString;
}

void setupBlueToothConnection()
{
  Serial1.begin(9600);
  Serial1.print("AT");
  delay(400);
  Serial1.print("AT+ROLES"); // set the role as slave !R
  delay(400);
  Serial1.print("AT+NAME`+ textbox_bluetooth_name +`"); // set the bluetooth name as "Slave" !R
  delay(400);
  Serial1.print("AT+PIN`+ textbox_bluetooth_pin +`");
  delay(400);
  Serial1.print("AT+AUTH0");
  delay(400);
  Serial1.flush();
}
`

var temp_hum_air_bluetooth_code_advanced_lowest =
`
/*Please replace with your own correct variables if you see "!R" near the given variable.*/
#include "DHT.h"
#include"Air_Quality_Sensor.h"

#define DHTTYPE DHT11 //!R
#define DHTPIN 4 //!R
DHT dht(DHTPIN, DHTTYPE);
AirQualitySensor sensor(A1); //!R

//send data per interval seconds(end user decides)
unsigned long interval =`+textbox_timeInterval+`L;

void setup()
{
  Serial.begin(9600);
  sensor.init();
  setupBlueToothConnection();
}

void loop()
{
  char recvChar;
  //define time variables
  unsigned long endTime =0L, startTime =0L;
  String WholeCommand = "";
  byte i = 0;
  //define sensor variables
  float tempData = 0.00, humData = 0.00, airData = 0.00;
  float tempLowest = 500.00, humLowest = 500.00, airLowest = 500.00;
  float temp_hum_val[2] = {0};

  /*DEBUG START*/
  while(Serial1.available()){
    recvChar = Serial1.read();
    Serial.print(recvChar);
  }
  while(Serial.available()){
    WholeCommand = SerialString();
    Serial1.print(WholeCommand);
    delay(400);
  }
  /*DEBUG END*/

  startTime = millis();
  endTime = startTime;
  while((endTime-startTime) < interval)
  {
    if(!dht.readTempAndHumidity(temp_hum_val))
    {
      tempData = temp_hum_val[1];
      humData = temp_hum_val[0];
      airData = sensor.getValue();
      if(tempData < tempLowest)
      {
        tempLowest = tempData;
      }
      if(humData < humLowest)
      {
        humLowest = humData;
      }
      if(airData < airLowest)
      {
        airLowest = airData;
      }
    }
    endTime = millis();
    i++;
  }

  Serial1.print("`+ id_loc + `");
  Serial1.print(";");
  Serial1.print("`+ textbox_nodeID + `");
  Serial1.print(";");
  Serial1.print("`+ id_temp + `");
  Serial1.print(":");
  Serial1.print(tempLowest);
  Serial1.print(":0;");
  Serial1.print("`+ id_hum + `");
  Serial1.print(":");
  Serial1.print(humLowest);
  Serial1.print(":0;");
  Serial1.print("`+ id_air + `");
  Serial1.print(":");
  Serial1.print(airLowest);
  Serial1.print(":0;");
  Serial1.print("B\\n");
}

String SerialString()
{
  String inputString = "";
  while (Serial.available()){
    char inputChar = (char)Serial.read();
    inputString += inputChar;
  }
  return inputString;
}

void setupBlueToothConnection()
{
  Serial1.begin(9600);
  Serial1.print("AT");
  delay(400);
  Serial1.print("AT+ROLES"); // set the role as slave !R
  delay(400);
  Serial1.print("AT+NAME`+ textbox_bluetooth_name +`"); // set the bluetooth name as "Slave" !R
  delay(400);
  Serial1.print("AT+PIN`+ textbox_bluetooth_pin +`");
  delay(400);
  Serial1.print("AT+AUTH0");
  delay(400);
  Serial1.flush();
}
`
/*================================BLUETOOOTH ARDUINO END======================*/
/*===================================ZIGBEE ARDUINO START=====================*/

  var temp_hum_air_zigbee_code_advanced =
  `
/*Please replace with your own correct variables if you see "!R" near the given variable.*/
#include "DHT.h"
#include "Air_Quality_Sensor.h"
#define DHTPIN 4 //!R
#define DHTTYPE DHT11 //!R
AirQualitySensor sensor(A2); //!R
DHT dht(DHTPIN, DHTTYPE);

//send data per interval seconds(end user decides)
unsigned long interval =`+textbox_timeInterval+`L;

void setup() {
// put your setup code here, to run once:
Serial.begin(9600);
Serial1.begin(9600);
dht.begin();
sensor.init();

//set the xbee device
Serial1.print("+++"); //enter in command mode
delay(1500);

// set as router (options = end device, router, coordinator)
Serial1.print("ATCE 0\\r"); //not a coordinator
Serial1.print("ATSM 0\\r");
Serial1.print("ATAP 0\\r"); //disable API mode
Serial1.print("ATID `+ textbox_zigbee_pan +`\\r"); //PAN ID should same as coordinator !R
Serial1.print("ATEE 0\\r"); //disable security

//set destination to coordinator
Serial1.print("ATDH `+ textbox_zigbee_DH + `\\r"); //!R
Serial1.print("ATDL `+ textbox_zigbee_DL + `\\r"); //!R

//apply changes
Serial1.print("ATAC 1\\r");
delay(1000);
Serial1.print("ATWR\\r");
Serial1.print("ATMY\\r");
Serial1.print("ATAI\\r"); //debugging
delay(1000);
}

void loop() {

byte i = 0;
float temp_hum_val[2] = {0};
unsigned long endTime =0L, startTime =0L;
char recvChar;
float tempData = 0.00, humData = 0.00, airData = 0.00;
float tempSum = 0.00, humSum = 0.00, airSum = 0.00;
float tempAverage = 0.00, humAverage = 0.00, airAverage = 0.00;
startTime = millis();
endTime = startTime;
`+ debug_part + `
while((endTime-startTime) < interval)
{
if(!dht.readTempAndHumidity(temp_hum_val))
{
  tempData = temp_hum_val[1];
  humData = temp_hum_val[0];
  airData = sensor.getValue();
}
tempSum = tempData + tempSum;
humSum = humData + humSum;
airSum = airData + airSum;
endTime = millis();
i++;
}
//get averages (default)
tempAverage = tempSum / i;
humAverage = humSum / i;
airAverage = airSum / i;
Serial1.print("`+ id_loc + `");
Serial1.print(";");
Serial1.print("`+ textbox_nodeID + `");
Serial1.print(";");
Serial1.print("`+ id_temp + `");
Serial1.print(":");
Serial1.print(tempAverage);
Serial1.print(":0;");
Serial1.print("`+ id_hum + `");
Serial1.print(":");
Serial1.print(humAverage);
Serial1.print(":0;");
Serial1.print("`+ id_air + `");
Serial1.print(":");
Serial1.print(airAverage);
Serial1.print(":0;");
Serial1.print("Z\\n");
}
`
var temp_hum_air_zigbee_code_advanced_highest =
`
/*Please replace with your own correct variables if you see "!R" near the given variable.*/
#include "DHT.h"
#include "Air_Quality_Sensor.h"
#define DHTPIN 4 //!R
#define DHTTYPE DHT11 //!R
AirQualitySensor sensor(A2); //!R
DHT dht(DHTPIN, DHTTYPE);

//send data per interval seconds(end user decides)
unsigned long interval =`+textbox_timeInterval+`L;

void setup() {
  // put your setup code here, to run once:
  Serial.begin(9600);
  Serial1.begin(9600);
  dht.begin();
  sensor.init();

  //set the xbee device
  Serial1.print("+++"); //enter in command mode
  delay(1500);

  // set as router (options = end device, router, coordinator)
  Serial1.print("ATCE 0\\r"); //not a coordinator
  Serial1.print("ATSM 0\\r");
  Serial1.print("ATAP 0\\r"); //disable API mode
  Serial1.print("ATID `+ textbox_zigbee_pan +`\\r"); //PAN ID should same as coordinator !R
  Serial1.print("ATEE 0\\r"); //disable security

  //set destination to coordinator
  Serial1.print("ATDH `+ textbox_zigbee_DH + `\\r"); //!R
  Serial1.print("ATDL `+ textbox_zigbee_DL + `\\r"); //!R

  //apply changes
  Serial1.print("ATAC 1\\r");
  delay(1000);
  Serial1.print("ATWR\\r");
  Serial1.print("ATMY\\r");
  Serial1.print("ATAI\\r"); //debugging
  delay(1000);
}

void loop() {

  byte i = 0;
  float temp_hum_val[2] = {0};
  unsigned long endTime =0L, startTime =0L;
  char recvChar;
  float tempData = 0.00, humData = 0.00, airData = 0.00;
  float tempHighest = 0.00, humHighest = 0.00, airHighest = 0.00;
  startTime = millis();
  endTime = startTime;
  `+ debug_part + `
  while((endTime-startTime) < interval)
  {
    if(!dht.readTempAndHumidity(temp_hum_val))
    {
      tempData = temp_hum_val[1];
      humData = temp_hum_val[0];
      airData = sensor.getValue();
      //get highest
      if(tempData > tempHighest)
      {
        tempHighest = tempData;
      }
      if(humData > humHighest)
      {
        humHighest = humData;
      }
      if(airData > airHighest)
      {
        airHighest = airData;
      }
    }
    endTime = millis();
    i++;
  }
  //get averages (default)
  Serial1.print("`+ id_loc + `");
  Serial1.print(";");
  Serial1.print("`+ textbox_nodeID + `");
  Serial1.print(";");
  Serial1.print("`+ id_temp + `");
  Serial1.print(":");
  Serial1.print(tempHighest);
  Serial1.print(":0;");
  Serial1.print("`+ id_hum + `");
  Serial1.print(":");
  Serial1.print(humHighest);
  Serial1.print(":0;");
  Serial1.print("`+ id_air + `");
  Serial1.print(":");
  Serial1.print(airHighest);
  Serial1.print(":0;");
  Serial1.print("Z\\n");
}
`
var temp_hum_air_zigbee_code_advanced_lowest =
`
/*Please replace with your own correct variables if you see "!R" near the given variable.*/
#include "DHT.h"
#include "Air_Quality_Sensor.h"
#define DHTPIN 4 //!R
#define DHTTYPE DHT11 //!R
AirQualitySensor sensor(A2); //!R
DHT dht(DHTPIN, DHTTYPE);

//send data per interval seconds(end user decides)
unsigned long interval =`+textbox_timeInterval+`L;

void setup() {
  // put your setup code here, to run once:
  Serial.begin(9600);
  Serial1.begin(9600);
  dht.begin();
  sensor.init();

  //set the xbee device
  Serial1.print("+++"); //enter in command mode
  delay(1500);

  // set as router (options = end device, router, coordinator)
  Serial1.print("ATCE 0\\r"); //not a coordinator
  Serial1.print("ATSM 0\\r");
  Serial1.print("ATAP 0\\r"); //disable API mode
  Serial1.print("ATID `+ textbox_zigbee_pan +`\\r"); //PAN ID should same as coordinator !R
  Serial1.print("ATEE 0\\r"); //disable security

  //set destination to coordinator
  Serial1.print("ATDH `+ textbox_zigbee_DH + `\\r"); //!R
  Serial1.print("ATDL `+ textbox_zigbee_DL + `\\r"); //!R

  //apply changes
  Serial1.print("ATAC 1\\r");
  delay(1000);
  Serial1.print("ATWR\\r");
  Serial1.print("ATMY\\r");
  Serial1.print("ATAI\\r"); //debugging
  delay(1000);
}

void loop() {

  byte i = 0;
  float temp_hum_val[2] = {0};
  unsigned long endTime =0L, startTime =0L;
  char recvChar;
  float tempData = 0.00, humData = 0.00, airData = 0.00;
  float tempLowest = 500.00, humLowest = 500.00, airLowest = 500.00;
  startTime = millis();
  endTime = startTime;
  `+ debug_part + `
  while((endTime-startTime) < interval)
  {
    if(!dht.readTempAndHumidity(temp_hum_val))
    {
      tempData = temp_hum_val[1];
      humData = temp_hum_val[0];
      airData = sensor.getValue();
      //get lowest
      if(tempData < tempLowest)
      {
        tempLowest = tempData;
      }
      if(humData < humLowest)
      {
        humLowest = humData;
      }
      if(airData < airLowest)
      {
        airLowest = airData;
      }
    }
    endTime = millis();
    i++;
  }
  //get averages (default)
  Serial1.print("`+ id_loc + `");
  Serial1.print(";");
  Serial1.print("`+ textbox_nodeID + `");
  Serial1.print(";");
  Serial1.print("`+ id_temp + `");
  Serial1.print(":");
  Serial1.print(tempAverage);
  Serial1.print(":0;");
  Serial1.print("`+ id_hum + `");
  Serial1.print(":");
  Serial1.print(humAverage);
  Serial1.print(":0;");
  Serial1.print("`+ id_air + `");
  Serial1.print(":");
  Serial1.print(airAverage);
  Serial1.print(":0;");
  Serial1.print("Z\\n");
}
`
/*====================================ZIGBEE ARDUINO END==============================*/
/*====================================Real Codes START==============================*/
wifiRealCode, blueRealCode, bleRealCode, zigbeeRealCode;

  wifiRealCode = 
`
#include "DHT.h"
#include "Air_Quality_Sensor.h"

#define DHTPIN 4
#define DHTTYPE DHT11
DHT dht(DHTPIN, DHTTYPE);
AirQualitySensor sensor(A2);
//send data per interval seconds(end user decides)
unsigned long interval =`+textbox_timeInterval+`;
unsigned long pass_time = millis();
unsigned long startTime;
unsigned long endTime;
int exit_while = 0;

/*Settings Vars*/
String networkSSID = "`+textbox_ssid+`";
String passwd = "`+textbox_passwd+`";
String IP = "`+textbox_hostip+`";
String PORT = "`+textbox_port+`";

void setup()
{
  /*Initialize ports*/
  Serial1.begin(115200);
  delay(500);
  Serial.begin(115200);
  while(!Serial){
    ;
  } 
  while(!sensor.init()){
    Serial.println("Initializing temp. sensor...");
  }
  Serial.println("Success!");

  /*Set-up Wi-Fi Module*/
  delay(1000);
  Serial1.println("AT");
  delay(500);
  Serial1.println("AT+CWMODE_DEF=3");
  delay(500);
  Serial1.print("AT+CWJAP=");
  Serial1.print("\"");
  Serial1.print(networkSSID);
  Serial1.print("\",");
  Serial1.print(passwd);
  Serial1.println("\"");
  delay(500);
}

void loop()
{
  float tempData = 0.00, humData = 0.00, airData = 0.00, loudnessData = 0.00, lightData = 0.00;
  float tempSum = 0.00, humSum = 0.00, airSum = 0.00, loudnessSum = 0.00, lightSum = 0.00;
  float tempAverage = 0.00, humAverage = 0.00, airAverage = 0.00, loudnessAverage = 0.00, lightAverage = 0.00;
  float temp_hum_val[2] = {0};
  char recvChar;
  byte i = 0;

  /*DEBUG START*/
  while (Serial.available() > 0)
  {
    recvChar = Serial.read();
    Serial1.print(recvChar);
  }
  while (Serial1.available() > 0)
  {
    recvChar = Serial1.read();
    Serial.print(recvChar);
  }
  /*DEBUG END*/

  /*Connect to Host*/
  if(millis() - pass_time > 20000 && exit_while == 0){
    Serial1.print("AT+CIPSTART=");
    Serial1.print("\"TCP\",");
    Serial1.print("\"");
    Serial1.print(IP);
    Serial1.print("\",");
    Serial1.println(PORT);
    exit_while = 1;
  }
  startTime = millis();
  endTime = startTime;
  while((endTime-startTime) < interval)
  {
    if(!dht.readTempAndHumidity(temp_hum_val))
    {
      tempData = temp_hum_val[1];
      humData = temp_hum_val[0];
      airData = sensor.getValue();
      loudnessData = analogRead(A3);
      lightData = analogRead(A0);
    }
  tempSum = tempData + tempSum;
  humSum = humData + humSum;
  airSum = airData + airSum;
  loudnessSum = loudnessData + loudnessSum;
  lightSum = lightData + lightSum;
  endTime = millis();
  i++;
  }
  tempAverage = tempSum / i;
  humAverage = humSum / i;
  airAverage = airSum / i;
  loudnessAverage = loudnessSum / i;
  lightAverage = lightSum / i;

  String temp_data = String(tempAverage,2);
  String hum_data = String(humAverage,2);
  String air_data = String(airAverage,2);
  String loudness_data = String(loudnessAverage,2);
  String light_data = String(lightAverage,2);
  
  byte total_bytes = temp_data.length()+hum_data.length()+air_data.length()+loudness_data.length()+light_data.length()+40;
  String total_bytes_sent = String(total_bytes);
  Serial1.print("AT+CIPSEND=");
  Serial1.println(total_bytes_sent);
  delay(1000);
  Serial1.print("`+id_loc+`;`+textbox_nodeID+`;`+id_temp+`:");
  Serial1.print(temp_data);
  Serial1.print(":0;`+id_hum+`:");
  Serial1.print(hum_data);
  Serial1.print(":0;`+id_air+`:");
  Serial1.print(air_data);
  Serial1.print(":0;`+id_loud+`:");
  Serial1.print(loudness_data);
  Serial1.print(":0;`+id_light+`:");
  Serial1.print(light_data);
  Serial1.println(":0;`+id_wifi+`");
}
`
  blueRealCode = 
`
#include "DHT.h"
#include"Air_Quality_Sensor.h"

#define DHTTYPE DHT11
#define DHTPIN 4
DHT dht(DHTPIN, DHTTYPE);
AirQualitySensor sensor(A2);

//send data per interval seconds(end user decides)
unsigned long interval =`+textbox_timeInterval+`L;
unsigned long startTime;
unsigned long endTime;

void setup()
{
  Serial.begin(9600);
  while(!Serial){
    ;
  }
  while(!sensor.init()){
    Serial.println("Initializing temp. sensor...");
  }
  Serial.println("Success!");
  setupBlueToothConnection();
}

void loop()
{
  char recvChar;
  //define time variables
  unsigned long endTime =0L, startTime =0L;
  String WholeCommand = "";
  byte i = 0;
  //define sensor variables
  float tempData = 0.00, humData = 0.00, airData = 0.00, loudnessData = 0.00, lightData = 0.00;
  float tempSum = 0.00, humSum = 0.00, airSum = 0.00, loudnessSum = 0.00, lightSum = 0.00;
  float tempAverage = 0.00, humAverage = 0.00, airAverage = 0.00, loudnessAverage = 0.00, lightAverage = 0.00;
  float temp_hum_val[2] = {0};

  /*DEBUG START*/
  while(Serial1.available()){
    recvChar = Serial1.read();
    Serial.print(recvChar);
  }
  while(Serial.available()){
    WholeCommand = SerialString();
    Serial1.print(WholeCommand);
    delay(400);
  }
  /*DEBUG END*/

  startTime = millis();
  endTime = startTime;
  while((endTime-startTime) < interval)
  {
    if(!dht.readTempAndHumidity(temp_hum_val))
    {
      tempData = temp_hum_val[1];
      humData = temp_hum_val[0];
      airData = sensor.getValue();
      loudnessData = analogRead(A3);
      lightData = analogRead(A0);
    }
    tempSum = tempData + tempSum;
    humSum = humData + humSum;
    airSum = airData + airSum;
    loudnessSum = loudnessData + loudnessSum;
    lightSum = lightData + lightSum;
    endTime = millis();
  i++;
  }
  tempAverage = tempSum / i;
  humAverage = humSum / i;
  airAverage = airSum / i;
  loudnessAverage = loudnessSum / i;
  lightAverage = lightSum / i;

  Serial1.print("`+id_loc+`");
  Serial1.print(";");
  Serial1.print("`+textbox_nodeID+`");
  Serial1.print(";");
  Serial1.print("`+id_temp+`");
  Serial1.print(":");
  Serial1.print(tempAverage);
  Serial1.print(":0;");
  Serial1.print("`+id_hum+`");
  Serial1.print(":");
  Serial1.print(humAverage);
  Serial1.print(":0;");
  Serial1.print("`+id_air+`");
  Serial1.print(":");
  Serial1.print(airAverage);
  Serial1.print(":0;");
  Serial1.print("`+id_loud+`");
  Serial1.print(":");
  Serial1.print(loudnessAverage);
  Serial1.print(":0;");
  Serial1.print("`+id_light+`");
  Serial1.print(":");
  Serial1.print(lightAverage);
  Serial1.print(":0;");
  Serial1.println("`+id_blue+`");
}

String SerialString()
{
  String inputString = "";
  while (Serial.available()){
    char inputChar = (char)Serial.read();
    inputString += inputChar;
  }
  return inputString;
}

void setupBlueToothConnection()
{
  Serial1.begin(9600);
  Serial1.print("AT");
  delay(400);
  Serial1.print("AT+ROLES");
  delay(400);
  Serial1.print("AT+NAME`+textbox_bluetooth_name+`");
  delay(400);
  Serial1.print("AT+PIN`+textbox_bluetooth_pin+`");
  delay(400);
  Serial1.print("AT+AUTH0");
  delay(400);
  Serial1.flush();
}
`

 bleRealCode = 
`
/*
  The yellow LED shows the BLE module is connected to a central.

  The circuit:
  - Arduino Nano 33 BLE Sense

  You can use a generic BLE central app, like BLE Scanner (iOS and Android) or
  nRF Connect, to interact with the services and characteristics
  created in this sketch.

  This example code is in the public domain.
*/

#include <ArduinoBLE.h>
#include <Arduino_HTS221.h>
#include <Arduino_LPS22HB.h>

//----------------------------------------------------------------------------------------------------------------------
// BLE UUIDs
//----------------------------------------------------------------------------------------------------------------------

// https://www.bluetooth.com/specifications/assigned-numbers/environmental-sensing-service-characteristics/
// https://www.bluetooth.com/wp-content/uploads/Sitecore-Media-Library/Gatt/Xml/Characteristics/org.bluetooth.characteristic.temperature.xml
// https://www.bluetooth.com/wp-content/uploads/Sitecore-Media-Library/Gatt/Xml/Characteristics/org.bluetooth.characteristic.humidity.xml
// https://www.bluetooth.com/wp-content/uploads/Sitecore-Media-Library/Gatt/Xml/Characteristics/org.bluetooth.characteristic.pressure.xml

#define BLE_UUID_ENVIRONMENTAL_SENSING_SERVICE    "181A"
#define BLE_UUID_TEMPERATURE                      "2A6E"
#define BLE_UUID_HUMIDITY                         "2A6F"
#define BLE_UUID_PRESSURE                         "2A6D"

//----------------------------------------------------------------------------------------------------------------------
// BLE
//----------------------------------------------------------------------------------------------------------------------

#define BLE_DEVICE_NAME                           "Nano"
#define BLE_LOCAL_NAME                            "Nano"

BLEService environmentalSensingService( BLE_UUID_ENVIRONMENTAL_SENSING_SERVICE );
BLEShortCharacteristic temperatureCharacteristic( BLE_UUID_TEMPERATURE, BLERead | BLENotify );
BLEUnsignedShortCharacteristic humidityCharacteristic( BLE_UUID_HUMIDITY, BLERead | BLENotify );
BLEUnsignedLongCharacteristic pressureCharacteristic( BLE_UUID_PRESSURE, BLERead | BLENotify );

//----------------------------------------------------------------------------------------------------------------------
// APP & I/O
//----------------------------------------------------------------------------------------------------------------------

#define SENSOR_UPDATE_INTERVAL                    (5000)

typedef struct __attribute__( ( packed ) )
{
  float temperature;
  float humidity;
  float pressure;
  bool updated = false;
} sensor_data_t;

sensor_data_t sensorData;

#define BLE_LED_PIN                               LED_BUILTIN


void setup()
{
  Serial.begin( 9600 );
  while ( !Serial );
  Serial.println( "BLE Example - Environmental Sensing Service (ESS)" );
  pinMode( BLE_LED_PIN, OUTPUT );
  digitalWrite( BLE_LED_PIN, LOW );
  // Without Serial when using USB power bank HTS sensor seems to needs some time for setup
  delay( 10 );
  if ( !HTS.begin() )
  {
    Serial.println( "Failed to initialize humidity temperature sensor!" );
    while ( 1 );
  }
  if ( !BARO.begin() )
  {
    Serial.println( "Failed to initialize pressure sensor!" );
    while ( 1 );
  }
  if ( !setupBleMode() )
  {
    while ( 1 );
  }
  else
  {
    Serial.println( "BLE initialized. Waiting for clients to connect." );
  }
}

void loop()
{
  bleTask();
  if ( sensorTask() )
  {
    printTask();
  }
}

bool sensorTask()
{
  static long previousMillis = 0;
  unsigned long currentMillis = millis();
  if ( currentMillis - previousMillis < SENSOR_UPDATE_INTERVAL )
  {
    return false;
  }
  previousMillis = currentMillis;
  sensorData.temperature = HTS.readTemperature();
  sensorData.humidity = HTS.readHumidity();
  sensorData.pressure = BARO.readPressure() * 1000; // kPa -> Pa
  sensorData.updated = true;
  return sensorData.updated;
}


void printTask()
{
  Serial.print( "Temperature = " );
  Serial.print( sensorData.temperature );
  Serial.println( " °C" );

  Serial.print( "Humidity    = " );
  Serial.print( sensorData.humidity );
  Serial.println( " %" );

  Serial.print( "Pressure = " );
  Serial.print( sensorData.pressure );
  Serial.println( " Pa" );

  Serial.println(temperatureCharacteristic.subscribed());
  //Serial.println(temperatureCharacteristic.descriptorCount());

}

bool setupBleMode()
{
  if ( !BLE.begin() )
  {
    return false;
  }

  // set advertised local name and service UUID
  BLE.setDeviceName( BLE_DEVICE_NAME );
  BLE.setLocalName( BLE_LOCAL_NAME );
  BLE.setAdvertisedService( environmentalSensingService );

  // BLE add characteristics
  environmentalSensingService.addCharacteristic( temperatureCharacteristic );
  environmentalSensingService.addCharacteristic( humidityCharacteristic );
  environmentalSensingService.addCharacteristic( pressureCharacteristic );

  // add service
  BLE.addService( environmentalSensingService );

  // set the initial value for the characeristic
  temperatureCharacteristic.writeValue( 0 );
  humidityCharacteristic.writeValue( 0 );
  pressureCharacteristic.writeValue( 0 );

  // set BLE event handlers
  BLE.setEventHandler( BLEConnected, blePeripheralConnectHandler );
  BLE.setEventHandler( BLEDisconnected, blePeripheralDisconnectHandler );

  // start advertising
  BLE.advertise();

  return true;
}

void bleTask()
{
  const uint32_t BLE_UPDATE_INTERVAL = 10;
  static uint32_t previousMillis = 0;
  uint32_t currentMillis = millis();
  if ( currentMillis - previousMillis >= BLE_UPDATE_INTERVAL )
  {
    previousMillis = currentMillis;
    BLE.poll();
  }

  if ( sensorData.updated )
  {
    // BLE defines Temperature UUID 2A6E Type sint16 ( see XML links )
    // Unit is in degrees Celsius with a resolution of 0.01 degrees Celsius
    int16_t temperature = round( sensorData.temperature * 100.0 );
    temperatureCharacteristic.writeValue( temperature );

    // BLE defines Humidity UUID 2A6F Type uint16
    // Unit is in percent with a resolution of 0.01 percent
    uint16_t humidity = round( sensorData.humidity * 100.0 );
    humidityCharacteristic.writeValue( humidity );

    // BLE defines Pressure UUID 2A6D Type uint32
    // Unit is in Pascal with a resolution of 0.1 Pa
    uint32_t pressure = round( sensorData.pressure * 10.0 );
    pressureCharacteristic.writeValue( pressure );
    sensorData.updated = false;
  }
}

void blePeripheralConnectHandler( BLEDevice central )
{
  digitalWrite( BLE_LED_PIN, HIGH );
  Serial.print( F ( "Connected to central: " ) );
  Serial.println( central.address() );
}

void blePeripheralDisconnectHandler( BLEDevice central )
{
  digitalWrite( BLE_LED_PIN, LOW );
  Serial.print( F( "Disconnected from central: " ) );
  Serial.println( central.address() );
}
`
  zigbeeRealCode = 
  `
#include "DHT.h"
#include "Air_Quality_Sensor.h"
#define DHTPIN 4 
#define DHTTYPE DHT11 
AirQualitySensor sensor(A2);
DHT dht(DHTPIN, DHTTYPE);

//send data per interval seconds(end user decides)
unsigned long interval =`+textbox_timeInterval+`L;

void setup() {
  // put your setup code here, to run once:
  Serial.begin(9600);
  Serial1.begin(9600);
  dht.begin();
  sensor.init();

  //set the xbee device
  Serial1.print("+++"); //enter in command mode
  delay(1500);

  // set as router (options = end device, router, coordinator)
  Serial1.print("ATCE 0\\r"); //not a coordinator
  Serial1.print("ATSM 0\\r");
  Serial1.print("ATAP 0\\r"); //disable API mode
  Serial1.print("ATID `+ textbox_zigbee_pan +`\\r"); //PAN ID should same as coordinator !R
  Serial1.print("ATEE 0\\r"); //disable security

  //set destination to coordinator
  Serial1.print("ATDH `+ textbox_zigbee_DH + `\\r"); //!R
  Serial1.print("ATDL `+ textbox_zigbee_DL + `\\r"); //!R

  //apply changes
  Serial1.print("ATAC 1\\r");
  delay(1000);
  Serial1.print("ATWR\\r");
  Serial1.print("ATMY\\r");
  Serial1.print("ATAI\\r"); //debugging
  delay(1000);
}

void loop() {
  
  byte i = 0;
  float temp_hum_val[2] = {0};
  unsigned long endTime =0L, startTime =0L;
  char recvChar;
  float tempData = 0.00, humData = 0.00, airData = 0.00;
  float tempSum = 0.00, humSum = 0.00, airSum = 0.00;
  float tempAverage = 0.00, humAverage = 0.00, airAverage = 0.00;
  startTime = millis();
  endTime = startTime;
  `+ debug_part + `
  while((endTime-startTime) < interval)
  {
    if(!dht.readTempAndHumidity(temp_hum_val))
    {
      tempData = temp_hum_val[1];
      humData = temp_hum_val[0];
      airData = sensor.getValue();
    }
    tempSum = tempData + tempSum;
    humSum = humData + humSum;
    airSum = airData + airSum;
    endTime = millis();
    i++;
  }
  //get averages (default)
  tempAverage = tempSum / i;
  humAverage = humSum / i;
  airAverage = airSum / i;
  Serial1.print("`+ id_loc + `");
  Serial1.print(";");
  Serial1.print("`+ textbox_nodeID + `");
  Serial1.print(";");
  Serial1.print("`+ id_temp + `");
  Serial1.print(":");
  Serial1.print(tempAverage);
  Serial1.print(":0;");
  Serial1.print("`+ id_hum + `");
  Serial1.print(":");
  Serial1.print(humAverage);
  Serial1.print(":0;");
  Serial1.print("`+ id_air + `");
  Serial1.print(":");
  Serial1.print(airAverage);
  Serial1.print(":0;");
  Serial1.print("`+id_zigb+`\\n");
}
`
/*====================================Real Codes END==============================*/
/*====================================Pseudo Codes START==============================*/
var temphumPseudo = 
  `
  #include "DHT.h"
  #define DHTPIN 4
  #define DHTTYPE DHT11
  DHT dht(DHTPIN, DHTTYPE);
  while(!sensor.init()){
    Serial.println("Initializing temp. sensor...");
  }
  Serial.println("Success!");
  float tempData = 0.00, humData = 0.00;
  float temp_hum_val[2] = {0};
  if(!dht.readTempAndHumidity(temp_hum_val))
  {
    tempData = temp_hum_val[1];
    humData = temp_hum_val[2];
  }
  `
  var airQualityPseudo =
  `
  #include "Air_Quality_Sensor.h"
  AirQualitySensor sensor(A2);
  float airData = 0.00;
  airData = sensor.getValue();
  `
  var lightPseudo =
  `
  float lightData = 0.00;
  lightData = analogRead(A0);
  `
  var loudnessPseudo = 
  `
  float loudnessData = 0.00;
  loudnessData = analogRead(A3);
  `
/*====================================Pseudo Codes END==============================*/

/*====================================Code Displaying Conditions START==============================*/
  if (temp_check === true && hum_check === true && air_check === true && lightCheck === true && loudnessCheck === true && wifi_check === true) {
    pseudoDisplayedCode = wifiRealCode;
    wi_all.style.display = "block";
    display_terminal_code.innerHTML = "none";
    display_zigbee_code.innerHTML = ""
    ble_all.style.display = "none";
    blu_all.style.display = "none";
    zigbee_all.style.display = "none";
  } else if (temp_check === true && hum_check === true && air_check === true && lightCheck === true && loudnessCheck === true && bluetooth_check === true) {
    pseudoDisplayedCode = blueRealCode;
    blu_all.style.display = "block";
    display_zigbee_code.innerHTML = ""
    display_terminal_code.innerHTML = terminal_code;
    zigbee_all.style.display = "none";
    ble_all.style.display = "none";
    wi_all.style.display = "none";
    display_pairing_code.innerHTML = auto_bluetooth_pair;
  } else if (temp_check === true && hum_check === true && air_check === true && lightCheck === true && loudnessCheck === true && ble_check === true) {
    pseudoDisplayedCode = bleRealCode;
    ble_all.style.display = "block";
    display_zigbee_code.innerHTML = ""
    display_terminal_code.innerHTML = "none";
    blu_all.style.display = "none";
    zigbee_all.style.display = "none";
    wi_all.style.display = "none";
  } else if (temp_check === true && hum_check === true && air_check === true && lightCheck === true && loudnessCheck === true && zigbee_check === true) {
    pseudoDisplayedCode = zigbeeRealCode;
    display_terminal_code.innerHTML = "none";
    blu_all.style.display = "none";
    display_zigbee_code.innerHTML = zigbee_python_script;
    ble_all.style.display = "none";
    wi_all.style.display = "none";
    zigbee_all.style.display = "block";
  } else if ((temp_check === true || hum_check === true) && air_check === false && lightCheck === false && loudnessCheck === false) {
    pseudoDisplayedCode = temphumPseudo;
  } else if ((temp_check === true || hum_check === true) && air_check === true && lightCheck === false && loudnessCheck === false) {
    pseudoDisplayedCode = temphumPseudo + airQualityPseudo;
  } else if ((temp_check === true || hum_check === true) && air_check === true && lightCheck === true && loudnessCheck === false) {
    pseudoDisplayedCode = temphumPseudo + airQualityPseudo + lightPseudo;
  } else if ((temp_check === true || hum_check === true) && air_check === true && lightCheck === true && loudnessCheck === true) {
    pseudoDisplayedCode = temphumPseudo + airQualityPseudo + lightPseudo + loudnessPseudo;
  } else if ((temp_check === true || hum_check === true) && air_check === true && lightCheck === false && loudnessCheck === true) {
    pseudoDisplayedCode = temphumPseudo + airQualityPseudo + loudnessPseudo;
  } else if ((temp_check === true || hum_check === true) && air_check === false && lightCheck === true && loudnessCheck === true) {
    pseudoDisplayedCode = temphumPseudo + lightPseudo + loudnessPseudo;
  } else if ((temp_check === true || hum_check === true) && air_check === false && lightCheck === false && loudnessCheck === true) {
    pseudoDisplayedCode = temphumPseudo + loudnessPseudo;
  } else if (temp_check === false && hum_check === false && air_check === true && lightCheck === true && loudnessCheck === true) {
    pseudoDisplayedCode = airQualityPseudo + loudnessPseudo + lightPseudo;
  } else if (temp_check === false && hum_check === false && air_check === true && lightCheck === true && loudnessCheck === false) {
    pseudoDisplayedCode = airQualityPseudo +  lightPseudo;
  } else if (temp_check === false && hum_check === false && air_check === true && lightCheck === false && loudnessCheck === true) {
    pseudoDisplayedCode = airQualityPseudo + loudnessPseudo;
  } else if (temp_check === false && hum_check === false && air_check === false && lightCheck === true && loudnessCheck === true) {
    pseudoDisplayedCode = lightPseudo + loudnessPseudo;
  } else if (temp_check === false && hum_check === false && air_check === true && lightCheck === false && loudnessCheck === false) {
    pseudoDisplayedCode = airQualityPseudo;
  } else if (temp_check === false && hum_check === false && air_check === false && lightCheck === true && loudnessCheck === false) {
    pseudoDisplayedCode = lightPseudo;
  } else if (temp_check === false && hum_check === false && air_check === false && lightCheck === false && loudnessCheck === true) {
    pseudoDisplayedCode = loudnessPseudo;
  } else {
    pseudoDisplayedCode = "";
  }
  console.log(pseudoDisplayedCode)
  display_code.innerHTML = pseudoDisplayedCode;
  /*If MAC address is null*/
  if (bluetooth_check == true && textbox_mac == "") {
    alert("Please enter the MAC address of your bluetooth module.")
    display_pairing_code.innerHTML = ""
    display_zigbee_code.innerHTML = ""
    display_code.innerHTML = ""
    display_terminal_code.innerHTML = ""
    }
  }
</script>
{% endblock body_content %}
